body
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: Roboto, Sans-Serif;
 background-color:#aaffea;
}
#wrapper-1
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
}
#wrapper-1 h1
{
 margin-top:15px;
 font-size:45px;
 color:#83bfb0;
}
#wrapper-1 p
{
 font-size: 16px;
}
#logout_form input[type="submit"]
{
 width:40%;
 margin-top:15px;
 height:50px;
 font-size:16px;
 background:none;
 border:2px solid #83bfb0;
 color:#aaffea;
}
#login_form
{
 background-color:#aaffea;
 padding:30px;
}
#login_form h1
{
 margin:0px;
 font-size:56px;
 color:#83bfb0;
}
#login_form input[type="password"]
{
 width:70%;
 margin-top:40px;
 height:50px;
 padding-left:10px;
 font-size:16px;
 border:2px solid #83bfb0;
 border-radius:30px;
 background: #aaffea;
 color: #83bfb0;
}
#login_form input[type="submit"]
{
 width:40%;
 margin-top:10px;
 height:50px;
 font-size:16px;
 background-color:#83bfb0;
 border:none;
 box-shadow:0px 4px 0px 0px #0b615a;
 color:#aaffea;
 border-radius:30px;
 font-weight: bold;
}
#submit_pass:hover {background-color: #39055c;}
#submit_pass:active {
    background-color: #39055c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#login_form p
{
 margin:0px;
 margin-top:10px;
 color:#83bfb0;
 font-size:16px;
 font-weight:bold;
}